In [1]:
import pandas as pd

data = pd.read_csv("../document/merged_data.csv")
data.head()

C:\Users\user\AppData\Local\Temp\ipykernel_16088\3453922394.py:3: DtypeWarning: Columns (13,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../document/merged_data.csv")

,id,msg_type,mmsi,status,turn,speed,accuracy,lon,lat,course,...,datetime,wind_direct,wind_speed,surface_curr_drc,surface_curr_speed,air_temperature,water_temperature,air_pressure,humidity,salinity
0,1,1,440500300,8.0,0.0,0.1,0.0,129.050650,35.121467,118.5,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
1,2,1,440119180,0.0,127.0,11.0,0.0,128.969183,35.014288,255.4,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
2,3,18,440051270,NaN,NaN,0.1,1.0,129.177900,35.091625,296.0,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
3,4,1,440315960,0.0,-128.0,0.1,1.0,129.035600,35.093932,0.1,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
4,5,1,440083980,8.0,0.0,0.0,1.0,128.982018,35.052095,181.1,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9

In [2]:
data = data.drop(columns=['timestamp'])  # 'timestamp '을 삭제

# 결과 저장
data.to_csv('../document/drop_merged_data.csv', index=False)  # 수정된 데이터를 저장

In [3]:
# NaN 값 확인
print(data.isna().sum())

id                        0
msg_type                  0
mmsi                      0
status                88991
turn                  88992
speed                 72729
accuracy              36303
lon                   36303
lat                   36308
course                72741
heading               73187
created_at                0
datetime              52144
wind_direct           52144
wind_speed            52144
surface_curr_drc      52144
surface_curr_speed    52144
air_temperature       52144
water_temperature     52144
air_pressure          52144
humidity              52144
salinity              52144
dtype: int64

In [4]:
# NaN 값이 있는 행의 인덱스 찾기
first_nan_index = data['datetime'].isna().idxmax()  # NaN 값이 처음 나타나는 인덱스
print(f"'datetime' 열에서 NaN 값이 처음 나타나는 행의 인덱스: {first_nan_index}")

# NaN 값이 시작하는 행 데이터 확인
print(data.iloc[first_nan_index])

'datetime' 열에서 NaN 값이 처음 나타나는 행의 인덱스: 1797959
id                                1797960
msg_type                                1
mmsi                            440001060
status                                0.0
turn                               -128.0
speed                                 0.0
accuracy                              1.0
lon                            129.028808
lat                             35.087457
course                              345.2
heading                             511.0
created_at            2025-01-21 11:30:01
datetime                              NaN
wind_direct                           NaN
wind_speed                            NaN
surface_curr_drc                      NaN
surface_curr_speed                    NaN
air_temperature                       NaN
water_temperature                     NaN
air_pressure                          NaN
humidity                              NaN
salinity                              NaN
Name: 1797959, dtype: object

In [5]:
# 특정 행(1172700~1172800)의 'created_at'과 'datetime' 열만 선택
subset = data.iloc[1791300:1797959][['created_at', 'datetime']]
print(subset)

                  created_at             datetime
1791300  2025-01-21 11:24:58  2025-01-21 11:20:00
1791301  2025-01-21 11:24:58  2025-01-21 11:20:00
1791302  2025-01-21 11:24:58  2025-01-21 11:20:00
1791303  2025-01-21 11:24:58  2025-01-21 11:20:00
1791304  2025-01-21 11:24:58  2025-01-21 11:20:00
...                      ...                  ...
1797954  2025-01-21 11:30:00  2025-01-21 11:20:00
1797955  2025-01-21 11:30:00  2025-01-21 11:20:00
1797956  2025-01-21 11:30:00  2025-01-21 11:20:00
1797957  2025-01-21 11:30:00  2025-01-21 11:20:00
1797958  2025-01-21 11:30:00  2025-01-21 11:20:00

[6659 rows x 2 columns]

In [6]:


# 특정 행 번호 이후 데이터 삭제
row_to_drop_from = 1791300  # 삭제를 시작할 행 번호 (0부터 시작)
data_dropped = data.iloc[:row_to_drop_from]

# mmsi 값이 0인 데이터 제거
data_cleaned = data_dropped[data_dropped['mmsi'] != 0]

# 결과 확인
print(f"최종 데이터 크기: {data_cleaned.shape}")


# 결과 저장
data_cleaned.to_csv('../document/data_after_dropping.csv', index=False, encoding='utf-8-sig')

print("최종 클린 데이터가 '../document/data_after_dropping.csv'로 저장되었습니다.")

최종 데이터 크기: (1790508, 22)
최종 클린 데이터가 '../document/data_after_dropping.csv'로 저장되었습니다.

In [7]:
df = pd.read_csv("../document/data_after_dropping.csv")
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_16088\2220342019.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../document/data_after_dropping.csv")

,id,msg_type,mmsi,status,turn,speed,accuracy,lon,lat,course,...,datetime,wind_direct,wind_speed,surface_curr_drc,surface_curr_speed,air_temperature,water_temperature,air_pressure,humidity,salinity
0,1,1,440500300,8.0,0.0,0.1,0.0,129.050650,35.121467,118.5,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
1,2,1,440119180,0.0,127.0,11.0,0.0,128.969183,35.014288,255.4,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
2,3,18,440051270,NaN,NaN,0.1,1.0,129.177900,35.091625,296.0,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
3,4,1,440315960,0.0,-128.0,0.1,1.0,129.035600,35.093932,0.1,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
4,5,1,440083980,8.0,0.0,0.0,1.0,128.982018,35.052095,181.1,...,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9

In [8]:
print(df.isna().sum())

id                        0
msg_type                  0
mmsi                      0
status                86470
turn                  86471
speed                 70677
accuracy              35267
lon                   35267
lat                   35272
course                70686
heading               71132
created_at                0
datetime                  0
wind_direct               0
wind_speed                0
surface_curr_drc          0
surface_curr_speed        0
air_temperature           0
water_temperature         0
air_pressure              0
humidity                  0
salinity                  0
dtype: int64

In [9]:
import pandas as pd

# 원본 데이터 로드
file_path = '../document/data_after_dropping.csv'
data = pd.read_csv(file_path)

# 시간 데이터 변환
data['created_at'] = pd.to_datetime(data['created_at'])

# 시간 순 정렬
data = data.sort_values(['mmsi', 'created_at'])

# MMSI별 결측치와 이전/이후 값 확인
result = []

for mmsi, group in data.groupby('mmsi'):
    group = group.reset_index(drop=True)
    for i, row in group.iterrows():
        if pd.isna(row['lat']) or pd.isna(row['lon']):  # 위도 또는 경도가 NaN인 경우
            # 이전 값 확인
            has_previous_lat = False
            has_previous_lon = False

            if i > 0:
                has_previous_lat = not pd.isna(group.loc[:i - 1, 'lat']).all()
                has_previous_lon = not pd.isna(group.loc[:i - 1, 'lon']).all()

            # 이후 값 확인
            has_next_lat = not pd.isna(group.loc[i + 1:, 'lat']).all()
            has_next_lon = not pd.isna(group.loc[i + 1:, 'lon']).all()

            # 결과 저장
            result.append({
                'mmsi': mmsi,
                'created_at': row['created_at'],
                'lat_is_nan': pd.isna(row['lat']),
                'lon_is_nan': pd.isna(row['lon']),
                'has_previous_lat': has_previous_lat,
                'has_previous_lon': has_previous_lon,
                'has_next_lat': has_next_lat,
                'has_next_lon': has_next_lon
            })

# 결과 데이터프레임 생성
result_df = pd.DataFrame(result)

# 총 lat과 lon이 결측치인 데이터
total_nan = result_df[(result_df['lat_is_nan'] & result_df['lon_is_nan'])]

# 결측치 조건: 앞뒤 모두 없을 때 제거
all_nan = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (~result_df['has_previous_lat'] & ~result_df['has_previous_lon']) &
    (~result_df['has_next_lat'] & ~result_df['has_next_lon'])
]

# 결측치 조건: 앞이 없고, 뒤만 있을 때 제거
only_next_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (~result_df['has_previous_lat'] & ~result_df['has_previous_lon']) &
    (result_df['has_next_lat'] & result_df['has_next_lon'])
]

# 최종적으로 제거할 데이터 합치기
to_remove = pd.concat([all_nan, only_next_data])

# 제거할 데이터 확인
print(f"제거할 데이터 행 수: {len(to_remove)}")

# 원본 데이터에서 제거할 데이터 제외
cleaned_data = data[~data.set_index(['mmsi', 'created_at']).index.isin(to_remove.set_index(['mmsi', 'created_at']).index)]

# 최종 데이터 저장
cleaned_data.to_csv('../document/final_cleaned_data.csv', index=False, encoding='utf-8-sig')

print(f"최종 데이터가 저장되었습니다. 최종 데이터 행 수: {len(cleaned_data)}")

C:\Users\user\AppData\Local\Temp\ipykernel_16088\1732200355.py:5: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

제거할 데이터 행 수: 88
최종 데이터가 저장되었습니다. 최종 데이터 행 수: 1790420

In [10]:
import pandas as pd

# 경로 설정 (원본 데이터와 최종 데이터)
original_file_path = '../document/data_after_dropping.csv'
final_cleaned_file_path = '../document//final_cleaned_data.csv'

# 데이터 로드
original_data = pd.read_csv(original_file_path)
final_cleaned_data = pd.read_csv(final_cleaned_file_path)

# 데이터 크기 비교
original_count = len(original_data)
final_cleaned_count = len(final_cleaned_data)

# 열 이름 비교
original_columns = original_data.columns.tolist()
final_cleaned_columns = final_cleaned_data.columns.tolist()

# 결과 출력
print(f"원본 데이터 행 수: {original_count}")
print(f"최종 클린 데이터 행 수: {final_cleaned_count}")
print(f"원본 데이터 열 이름: {original_columns}")
print(f"최종 클린 데이터 열 이름: {final_cleaned_columns}")

# 최종 클린 데이터에 없는 행 확인
removed_rows = original_data[~original_data.set_index(['mmsi', 'created_at']).index.isin(final_cleaned_data.set_index(['mmsi', 'created_at']).index)]
print(f"제거된 데이터 행 수: {len(removed_rows)}")

# 제거된 데이터 확인
print("제거된 데이터 예시:")
print(removed_rows
      )

C:\Users\user\AppData\Local\Temp\ipykernel_16088\2554065206.py:8: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  original_data = pd.read_csv(original_file_path)

원본 데이터 행 수: 1790508
최종 클린 데이터 행 수: 1790420
원본 데이터 열 이름: ['id', 'msg_type', 'mmsi', 'status', 'turn', 'speed', 'accuracy', 'lon', 'lat', 'course', 'heading', 'created_at', 'datetime', 'wind_direct', 'wind_speed', 'surface_curr_drc', 'surface_curr_speed', 'air_temperature', 'water_temperature', 'air_pressure', 'humidity', 'salinity']
최종 클린 데이터 열 이름: ['id', 'msg_type', 'mmsi', 'status', 'turn', 'speed', 'accuracy', 'lon', 'lat', 'course', 'heading', 'created_at', 'datetime', 'wind_direct', 'wind_speed', 'surface_curr_drc', 'surface_curr_speed', 'air_temperature', 'water_temperature', 'air_pressure', 'humidity', 'salinity']
제거된 데이터 행 수: 88
제거된 데이터 예시:
              id  msg_type       mmsi  status  turn  speed  accuracy  lon  \
58            59         6  994401595     NaN   NaN    NaN       NaN  NaN
94            95         8  994401594     NaN   NaN    NaN       NaN  NaN
303          304         8  994401578     NaN   NaN    NaN       NaN  NaN
330          331        24  440124250     NaN   NaN    NaN       NaN  NaN
336          337         8  994401597     NaN   NaN    NaN       NaN  NaN
...          ...       ...        ...     ...   ...    ...       ...  ...
1597677  1598401        24  440224933     NaN   NaN    NaN       NaN  NaN
1611020  1611753        24  442667782     NaN   NaN    NaN       NaN  NaN
1611643  1612378        24  442667782     NaN   NaN    NaN       NaN  NaN
1619925  1620663         8  994401637     NaN   NaN    NaN       NaN  NaN
1686894  1687654        24  440127221     NaN   NaN    NaN       NaN  NaN

         lat  course  ...             datetime wind_direct wind_speed  \
58       NaN     NaN  ...  2025-01-20 10:00:00       328.0       3.08
94       NaN     NaN  ...  2025-01-20 10:00:00       328.0       3.08
303      NaN     NaN  ...  2025-01-20 10:00:00       328.0       3.08
330      NaN     NaN  ...  2025-01-20 10:00:00       328.0       3.08
336      NaN     NaN  ...  2025-01-20 10:00:00       328.0       3.08
...      ...     ...  ...                  ...         ...        ...
1597677  NaN     NaN  ...  2025-01-21 09:10:00       352.0       2.06
1611020  NaN     NaN  ...  2025-01-21 09:20:00         6.0       3.60
1611643  NaN     NaN  ...  2025-01-21 09:20:00         6.0       3.60
1619925  NaN     NaN  ...  2025-01-21 09:20:00         6.0       3.60
1686894  NaN     NaN  ...  2025-01-21 10:10:00       317.0       1.54

         surface_curr_drc  surface_curr_speed  air_temperature  \
58                   53.0                 0.3              6.2
94                   53.0                 0.3              6.2
303                  53.0                 0.3              6.2
330                  53.0                 0.3              6.2
336                  53.0                 0.3              6.2
...                   ...                 ...              ...
1597677              94.0                 0.4              6.0
1611020             101.0                 0.4              5.5
1611643             101.0                 0.4              5.5
1619925             101.0                 0.4              5.5
1686894              72.0                 0.3              6.6

         water_temperature  air_pressure  humidity  salinity
58                    12.7        1014.0      53.0      19.9
94                    12.7        1014.0      53.0      19.9
303                   12.7        1014.0      53.0      19.9
330                   12.7        1014.0      53.0      19.9
336                   12.7        1014.0      53.0      19.9
...                    ...           ...       ...       ...
1597677               12.7        1018.0      55.0      20.2
1611020               12.7        1018.0      56.0      19.6
1611643               12.7        1018.0      56.0      19.6
1619925               12.7        1018.0      56.0      19.6
1686894               12.7        1019.0      55.0      19.7

[88 rows x 22 columns]

In [11]:
# 총 lat과 lon이 결측치인 행의 갯수
total_nan = result_df[(result_df['lat_is_nan'] & result_df['lon_is_nan'])]

# 지금, 앞뒤로 다 없는 행의 갯수
all_nan = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (~result_df['has_previous_lat'] & ~result_df['has_previous_lon']) &
    (~result_df['has_next_lat'] & ~result_df['has_next_lon'])
]

# 지금은 없지만 앞뒤로는 다 있는 행의 갯수
surrounded_by_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (result_df['has_previous_lat'] & result_df['has_previous_lon']) &
    (result_df['has_next_lat'] & result_df['has_next_lon'])
]

# 앞이 없고 뒤만 데이터가 있는 경우
only_next_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (~result_df['has_previous_lat'] & ~result_df['has_previous_lon']) &
    (result_df['has_next_lat'] & result_df['has_next_lon'])
]

# 앞은 있고 뒤는 없는 경우
only_previous_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (result_df['has_previous_lat'] & result_df['has_previous_lon']) &
    (~result_df['has_next_lat'] & ~result_df['has_next_lon'])
]

# 지금은 없지만 앞 혹은 뒤에 데이터가 있는 갯수
has_either_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    ((result_df['has_previous_lat'] & result_df['has_previous_lon']) |
     (result_df['has_next_lat'] & result_df['has_next_lon']))
]

# 결과 출력
print(f"총 lat과 lon이 결측치인 행의 갯수: {len(total_nan)}")
print(f"지금, 앞뒤로 다 없는 행의 갯수: {len(all_nan)}")
print(f"지금은 없지만 앞뒤로는 다 있는 행의 갯수: {len(surrounded_by_data)}")
print(f"앞이 없고 뒤만 데이터가 있는 행의 갯수: {len(only_next_data)}")
print(f"앞은 있고 뒤는 없는 행의 갯수: {len(only_previous_data)}")
print(f"지금 없지만 앞 혹은 뒤에 데이터가 있는 갯수: {len(has_either_data)}")

총 lat과 lon이 결측치인 행의 갯수: 35267
지금, 앞뒤로 다 없는 행의 갯수: 20
지금은 없지만 앞뒤로는 다 있는 행의 갯수: 35006
앞이 없고 뒤만 데이터가 있는 행의 갯수: 68
앞은 있고 뒤는 없는 행의 갯수: 173
지금 없지만 앞 혹은 뒤에 데이터가 있는 갯수: 35247

In [12]:
import pandas as pd

# 데이터 예제 (cleaned_data.csv 로드)
data = pd.read_csv('../document/final_cleaned_data.csv')

# NaN을 새로운 범주로 추가
data['status'] = data['status'].fillna('nan')  # NaN 값을 'nan' 문자열로 변환

# 원-핫 인코딩 수행
status_encoded = pd.get_dummies(data['status'], prefix='status')

# 원본 데이터와 원-핫 인코딩된 데이터 병합
data = pd.concat([data, status_encoded], axis=1)

# 필요하면 원본 'status' 열 삭제
# data = data.drop(columns=['status'])

# 결과 확인
print(data)

# 결과 저장
data.to_csv('../document/final_cleaned_data_with_nan.csv', index=False, encoding='utf-8-sig')

print("결과 데이터가 'final_cleaned_data_with_nan.csv'로 저장되었습니다.")

             id  msg_type       mmsi status   turn  speed  accuracy  \
0         13448         4    4310693    nan    NaN    NaN       1.0
1         76248         4    4310693    nan    NaN    NaN       1.0
2         76674         4    4310693    nan    NaN    NaN       1.0
3         82588         4    4310693    nan    NaN    NaN       1.0
4         95834         4    4310693    nan    NaN    NaN       1.0
...         ...       ...        ...    ...    ...    ...       ...
1790415  124188         1  999999999    8.0 -128.0    7.5       0.0
1790416  124610         1  999999999    8.0 -128.0    7.5       0.0
1790417  125649         1  999999999    8.0 -128.0    7.5       0.0
1790418  125857         1  999999999    8.0 -128.0    7.5       0.0
1790419  127979         1  999999999    8.0 -128.0    7.5       0.0

                lon        lat  course  ...  status_5.0 status_6.0 status_7.0  \
0        129.207578  -7.805873     NaN  ...       False      False      False
1        129.205167  34.137167     NaN  ...       False      False      False
2        129.353333  34.641333     NaN  ...       False      False      False
3        129.353333  34.641333     NaN  ...       False      False      False
4        129.205167  34.137167     NaN  ...       False      False      False
...             ...        ...     ...  ...         ...        ...        ...
1790415  128.940855  34.933233   221.5  ...       False      False      False
1790416  128.940290  34.932720   222.1  ...       False      False      False
1790417  128.938857  34.931440   222.2  ...       False      False      False
1790418  128.938603  34.931208   221.5  ...       False      False      False
1790419  128.935807  34.928597   221.0  ...       False      False      False

         status_8.0  status_9.0  status_10.0  status_11.0  status_12.0  \
0             False       False        False        False        False
1             False       False        False        False        False
2             False       False        False        False        False
3             False       False        False        False        False
4             False       False        False        False        False
...             ...         ...          ...          ...          ...
1790415        True       False        False        False        False
1790416        True       False        False        False        False
1790417        True       False        False        False        False
1790418        True       False        False        False        False
1790419        True       False        False        False        False

         status_15.0  status_nan
0              False        True
1              False        True
2              False        True
3              False        True
4              False        True
...              ...         ...
1790415        False       False
1790416        False       False
1790417        False       False
1790418        False       False
1790419        False       False

[1790420 rows x 36 columns]
결과 데이터가 'final_cleaned_data_with_nan.csv'로 저장되었습니다.

In [14]:
# 대한민국 위도 및 경도 범위
lat_min, lat_max = 33.0, 38.6
lon_min, lon_max = 124.0, 132.0

# 대한민국 범위 내 데이터 필터링
data = data[(data['lat'] >= lat_min) & (data['lat'] <= lat_max) &
                    (data['lon'] >= lon_min) & (data['lon'] <= lon_max)]

# 이상치 데이터 확인 (대한민국 범위를 벗어나는 데이터)
outliers = data[~((data['lat'] >= lat_min) & (data['lat'] <= lat_max) &
                  (data['lon'] >= lon_min) & (data['lon'] <= lon_max))]
print("이상치 데이터:\n", outliers)

# 결과 확인
print(f"대한민국 범위 내 데이터 크기: {data.shape}")

data.to_csv('../document/cleaned_data_korea.csv', index=False, encoding='utf-8-sig')
print("클린 데이터가 'cleaned_data_korea.csv'로 저장되었습니다.")

이상치 데이터:
 Empty DataFrame
Columns: [id, msg_type, mmsi, status, turn, speed, accuracy, lon, lat, course, heading, created_at, datetime, wind_direct, wind_speed, surface_curr_drc, surface_curr_speed, air_temperature, water_temperature, air_pressure, humidity, salinity, status_0.0, status_1.0, status_2.0, status_3.0, status_5.0, status_6.0, status_7.0, status_8.0, status_9.0, status_10.0, status_11.0, status_12.0, status_15.0, status_nan]
Index: []

[0 rows x 36 columns]
대한민국 범위 내 데이터 크기: (1722153, 36)
클린 데이터가 'cleaned_data_korea.csv'로 저장되었습니다.

In [15]:
# status 값의 고유 값 및 분포 확인
print("status 값 분포:")
print(data['status'].value_counts(dropna=False))

status 값 분포:
status
0.0     1001256
15.0     258442
5.0      132396
8.0      125519
1.0       59223
nan       50927
2.0       38935
7.0       27253
3.0       17381
11.0       8345
10.0       2472
6.0           2
12.0          1
9.0           1
Name: count, dtype: int64

In [ ]:
# 숫자로 변환할 수 없는 값 확인
for column in data.columns:
    try:
        data[column].astype(float)
    except ValueError as e:
        print(f"열 '{column}'에 변환 불가능한 값이 있습니다.")

In [16]:
# 문제 열에서 숫자가 아닌 값 필터링
print(data['salinity'][~data['salinity'].str.replace('.', '', 1).str.isdigit()])

35         -
3901       -
3902       -
3903       -
3907       -
          ..
1789860    -
1790065    -
1790066    -
1790067    -
1790231    -
Name: salinity, Length: 76730, dtype: object

In [18]:
data['salinity'] = data['salinity'].fillna(method='ffill')  # 앞의 값으로 채움
data['salinity'] = data['salinity'].fillna(method='bfill')  # 뒤의 값으로 채움

C:\Users\user\AppData\Local\Temp\ipykernel_16088\1085842344.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['salinity'] = data['salinity'].fillna(method='ffill')  # 앞의 값으로 채움
C:\Users\user\AppData\Local\Temp\ipykernel_16088\1085842344.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['salinity'] = data['salinity'].fillna(method='bfill')  # 뒤의 값으로 채움

In [24]:
print(data['salinity'].unique())

['19.2' '19.4' '19.1' '19.3' '19.0' '18.6' '18.2' '20.8' '20.6' '20.5'
 '21.5' '21.2' '21.1' '21.4' '21.8' '-' '21.3' '21.6' '20.7' '20.9' '20'
 '18.3' '18.8' '20.2' '19.6' '19.7' '19.5' '19.9' '19.8' '18.5' '18.7'
 '18.1' '18.0' '21.0' '21' '20.4' '22.1' '21.7' '21.9' '18.4' '18']

In [25]:
import numpy as np

# '-' 값을 NaN으로 변환
data['salinity'] = data['salinity'].replace('-', np.nan).astype(float)
# 앞의 값으로 대체
data['salinity'] = data['salinity'].fillna(method='ffill')

# 뒤의 값으로 대체
data['salinity'] = data['salinity'].fillna(method='bfill')

C:\Users\user\AppData\Local\Temp\ipykernel_16088\303990659.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['salinity'] = data['salinity'].fillna(method='ffill')
C:\Users\user\AppData\Local\Temp\ipykernel_16088\303990659.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['salinity'] = data['salinity'].fillna(method='bfill')

In [26]:
# NaN 값 확인
print(data['salinity'].isna().sum())

# salinity 고유 값 확인
print(data['salinity'].unique())

0
[19.2 19.4 19.1 19.3 19.  18.6 18.2 20.8 20.6 20.5 21.5 21.2 21.1 21.4
 21.8 21.3 21.6 20.7 20.9 20.  18.3 18.8 20.2 19.6 19.7 19.5 19.9 19.8
 18.5 18.7 18.1 18.  21.  20.4 22.1 21.7 21.9 18.4]

In [27]:
from sklearn.preprocessing import MinMaxScaler

# 스케일링 대상 열
scale_columns = [
    'turn', 'speed', 'accuracy', 'course', 'heading', 
    'wind_direct', 'wind_speed', 'surface_curr_drc', 'surface_curr_speed', 
    'air_temperature', 'water_temperature', 'air_pressure', 'humidity', 'salinity'
]

# 스케일러 초기화
scaler = MinMaxScaler()

# 원본 데이터 유지
data_scaled = data.copy()

# 스케일링 적용
data_scaled[scale_columns] = scaler.fit_transform(data[scale_columns])

# 결과 확인
print(data_scaled.head())

# 결과 저장
data_scaled.to_csv('../document/scaled_data.csv', index=False, encoding='utf-8-sig')
print("스케일링된 데이터가 'scaled_data.csv'로 저장되었습니다.")

      id  msg_type     mmsi status  turn  speed  accuracy         lon  \
1  76248         4  4310693    nan   NaN    NaN       1.0  129.205167
2  76674         4  4310693    nan   NaN    NaN       1.0  129.353333
3  82588         4  4310693    nan   NaN    NaN       1.0  129.353333
4  95834         4  4310693    nan   NaN    NaN       1.0  129.205167
5  99420         4  4310693    nan   NaN    NaN       1.0  129.205167

         lat  course  ...  status_5.0 status_6.0 status_7.0  status_8.0  \
1  34.137167     NaN  ...       False      False      False       False
2  34.641333     NaN  ...       False      False      False       False
3  34.641333     NaN  ...       False      False      False       False
4  34.137167     NaN  ...       False      False      False       False
5  34.137167     NaN  ...       False      False      False       False

   status_9.0  status_10.0  status_11.0  status_12.0  status_15.0  status_nan
1       False        False        False        False        False        True
2       False        False        False        False        False        True
3       False        False        False        False        False        True
4       False        False        False        False        False        True
5       False        False        False        False        False        True

[5 rows x 36 columns]
스케일링된 데이터가 'scaled_data.csv'로 저장되었습니다.

열 'created_at'에 변환 불가능한 값이 있습니다.
열 'datetime'에 변환 불가능한 값이 있습니다.
열 'salinity'에 변환 불가능한 값이 있습니다.