In [21]:
import pandas as pd

data = pd.read_csv("../document/merged_data.csv")
data.head()

C:\Users\user\AppData\Local\Temp\ipykernel_5032\3453922394.py:3: DtypeWarning: Columns (13,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../document/merged_data.csv")

,id,msg_type,mmsi,status,turn,speed,accuracy,lon,lat,course,heading,timestamp,created_at,datetime,wind_direct,wind_speed,surface_curr_drc,surface_curr_speed,air_temperature,water_temperature,air_pressure,humidity,salinity
0,1,1,440500300,8.0,0.0,0.1,0.0,129.050650,35.121467,118.5,113.0,NaN,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
1,2,1,440119180,0.0,127.0,11.0,0.0,128.969183,35.014288,255.4,259.0,NaN,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
2,3,18,440051270,NaN,NaN,0.1,1.0,129.177900,35.091625,296.0,511.0,NaN,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
3,4,1,440315960,0.0,-128.0,0.1,1.0,129.035600,35.093932,0.1,511.0,NaN,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
4,5,1,440083980,8.0,0.0,0.0,1.0,128.982018,35.052095,181.1,300.0,NaN,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9

In [22]:
data = data.drop(columns=['timestamp'])  # 'timestamp '을 삭제

# 결과 저장
data.to_csv('../document/drop_merged_data.csv', index=False)  # 수정된 데이터를 저장

In [23]:
# NaN 값 확인
print(data.isna().sum())

id                        0
msg_type                  0
mmsi                      0
status                88991
turn                  88992
speed                 72729
accuracy              36303
lon                   36303
lat                   36308
course                72741
heading               73187
created_at                0
datetime              52144
wind_direct           52144
wind_speed            52144
surface_curr_drc      52144
surface_curr_speed    52144
air_temperature       52144
water_temperature     52144
air_pressure          52144
humidity              52144
salinity              52144
dtype: int64

In [24]:
data

,id,msg_type,mmsi,status,turn,speed,accuracy,lon,lat,course,heading,created_at,datetime,wind_direct,wind_speed,surface_curr_drc,surface_curr_speed,air_temperature,water_temperature,air_pressure,humidity,salinity
0,1,1,440500300,8.0,0.0,0.1,0.0,129.050650,35.121467,118.5,113.0,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
1,2,1,440119180,0.0,127.0,11.0,0.0,128.969183,35.014288,255.4,259.0,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
2,3,18,440051270,NaN,NaN,0.1,1.0,129.177900,35.091625,296.0,511.0,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
3,4,1,440315960,0.0,-128.0,0.1,1.0,129.035600,35.093932,0.1,511.0,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
4,5,1,440083980,8.0,0.0,0.0,1.0,128.982018,35.052095,181.1,300.0,2025-01-20 10:04:11,2025-01-20 10:00:00,328.0,3.08,53.0,0.3,6.2,12.7,1014.0,53.0,19.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850098,1850099,1,440156830,0.0,-128.0,0.0,0.0,129.075240,35.059352,52.4,511.0,2025-01-21 12:11:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850099,1850100,1,440046000,0.0,0.0,9.6,0.0,129.206737,34.969567,336.2,335.0,2025-01-21 12:11:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850100,1850101,1,440171310,0.0,-128.0,0.7,1.0,129.241267,35.105867,85.1,511.0,2025-01-21 12:11:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850101,1850102,1,355304000,2.0,0.0,4.1,1.0,129.342328,34.893977,45.3,44.0,2025-01-21 12:11:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850102,1850103,1,440138700,0.0,0.0,0.0,0.0,129.050452,35.119833,225.1,17.0,2025-01-21 12:11:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# NaN 값이 있는 행의 인덱스 찾기
first_nan_index = data['datetime'].isna().idxmax()  # NaN 값이 처음 나타나는 인덱스
print(f"'datetime' 열에서 NaN 값이 처음 나타나는 행의 인덱스: {first_nan_index}")

# NaN 값이 시작하는 행 데이터 확인
print(data.iloc[first_nan_index])

'datetime' 열에서 NaN 값이 처음 나타나는 행의 인덱스: 1797959
id                                1797960
msg_type                                1
mmsi                            440001060
status                                0.0
turn                               -128.0
speed                                 0.0
accuracy                              1.0
lon                            129.028808
lat                             35.087457
course                              345.2
heading                             511.0
created_at            2025-01-21 11:30:01
datetime                              NaN
wind_direct                           NaN
wind_speed                            NaN
surface_curr_drc                      NaN
surface_curr_speed                    NaN
air_temperature                       NaN
water_temperature                     NaN
air_pressure                          NaN
humidity                              NaN
salinity                              NaN
Name: 1797959, dtype: object

In [34]:
# 특정 행(1172700~1172800)의 'created_at'과 'datetime' 열만 선택
subset = data.iloc[1791000:1797959][['created_at', 'datetime']]
print(subset)

                  created_at             datetime
1791000  2025-01-21 11:24:45  2025-01-21 11:20:00
1791001  2025-01-21 11:24:45  2025-01-21 11:20:00
1791002  2025-01-21 11:24:45  2025-01-21 11:20:00
1791003  2025-01-21 11:24:45  2025-01-21 11:20:00
1791004  2025-01-21 11:24:45  2025-01-21 11:20:00
...                      ...                  ...
1797954  2025-01-21 11:30:00  2025-01-21 11:20:00
1797955  2025-01-21 11:30:00  2025-01-21 11:20:00
1797956  2025-01-21 11:30:00  2025-01-21 11:20:00
1797957  2025-01-21 11:30:00  2025-01-21 11:20:00
1797958  2025-01-21 11:30:00  2025-01-21 11:20:00

[6959 rows x 2 columns]

In [3]:
nan_rows = data[data['id'].isna()]
print(nan_rows)

Empty DataFrame
Columns: [id, msg_type, mmsi, status, turn, speed, accuracy, lon, lat, course, heading, timestamp, id.1, datetime, mmaf_code, mmaf_name, mmsi_code, mmsi_name, wind_direct, wind_speed, surface_curr_drc, surface_curr_speed, air_temperature, humidity, air_pressure, water_temperature, salinity, latitude, longitude]
Index: []

[0 rows x 29 columns]

In [17]:
import pandas as pd

# 특정 행 번호 이후의 행 삭제
row_to_drop_from = 151542  # 삭제를 시작할 행 번호 (0부터 시작)
data_dropped = data.iloc[:row_to_drop_from]

# 결과 출력
print(data_dropped)

              id  msg_type         mmsi  status   turn  speed  accuracy  \
0            1.0       1.0  440100886.0    15.0 -128.0    0.0       1.0
1            2.0       1.0  440010110.0     0.0    0.0    0.1       0.0
2            3.0       1.0  440028280.0     0.0 -128.0    7.5       1.0
3            4.0       1.0  440101850.0    15.0 -128.0    0.1       1.0
4            5.0       1.0  440402020.0     0.0    0.0    0.0       1.0
...          ...       ...          ...     ...    ...    ...       ...
151537  151538.0       1.0  440113700.0     8.0 -128.0    0.0       1.0
151538  151539.0       1.0  442667809.0    15.0 -128.0  102.3       0.0
151539  151540.0       1.0  440191790.0     8.0 -128.0    0.0       1.0
151540  151541.0       1.0  440600017.0    15.0    0.0    0.0       0.0
151541  151542.0       1.0  273313640.0     0.0    0.0  102.3       0.0

               lon        lat  course  ...  wind_speed surface_curr_drc  \
0       129.078832  35.083187   237.5  ...         0.0             51.0
1       129.050312  35.119905    80.2  ...         0.0             51.0
2       129.125935  34.985023   185.2  ...         0.0             51.0
3       129.201418  34.854520   218.4  ...         0.0             51.0
4       129.053973  35.124077     0.0  ...         0.0             51.0
...            ...        ...     ...  ...         ...              ...
151537  129.001000  35.050883   322.0  ...         0.0             52.0
151538  181.000000  91.000000   360.0  ...         0.0             52.0
151539  129.048968  35.121152   284.9  ...         0.0             52.0
151540  129.051042  35.099668   195.7  ...         0.0             52.0
151541  181.000000  91.000000   360.0  ...         0.0             52.0

       surface_curr_speed  air_temperature humidity  air_pressure  \
0                     0.4              5.4     40.0        1023.0
1                     0.4              5.4     40.0        1023.0
2                     0.4              5.4     40.0        1023.0
3                     0.4              5.4     40.0        1023.0
4                     0.4              5.4     40.0        1023.0
...                   ...              ...      ...           ...
151537                0.8              5.0     39.0        1022.0
151538                0.8              5.0     39.0        1022.0
151539                0.8              5.0     39.0        1022.0
151540                0.8              5.0     39.0        1022.0
151541                0.8              5.0     39.0        1022.0

       water_temperature  salinity  latitude  longitude
0                   13.2      20.1   35.0665    129.131
1                   13.2      20.1   35.0665    129.131
2                   13.2      20.1   35.0665    129.131
3                   13.2      20.1   35.0665    129.131
4                   13.2      20.1   35.0665    129.131
...                  ...       ...       ...        ...
151537              12.6      20.1   35.0665    129.131
151538              12.6      20.1   35.0665    129.131
151539              12.6      20.1   35.0665    129.131
151540              12.6      20.1   35.0665    129.131
151541              12.6      20.1   35.0665    129.131

[151542 rows x 28 columns]

In [19]:
data_dropped.to_csv('../document/data_after_dropping.csv', index=False, encoding='utf-8-sig')
print("특정 행 이후를 삭제한 데이터가 'data_after_dropping.csv'로 저장되었습니다.")

특정 행 이후를 삭제한 데이터가 'data_after_dropping.csv'로 저장되었습니다.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("../document/data_after_dropping.csv")
df

,id,msg_type,mmsi,status,turn,speed,accuracy,lon,lat,course,...,wind_speed,surface_curr_drc,surface_curr_speed,air_temperature,humidity,air_pressure,water_temperature,salinity,latitude,longitude
0,1,1,440100886,15.0,-128.0,0.0,1.0,129.078832,35.083187,237.5,...,0.0,51,0.4,5.4,40,1023,13.2,20.1,35.0665,129.131
1,2,1,440010110,0.0,0.0,0.1,0.0,129.050312,35.119905,80.2,...,0.0,51,0.4,5.4,40,1023,13.2,20.1,35.0665,129.131
2,3,1,440028280,0.0,-128.0,7.5,1.0,129.125935,34.985023,185.2,...,0.0,51,0.4,5.4,40,1023,13.2,20.1,35.0665,129.131
3,4,1,440101850,15.0,-128.0,0.1,1.0,129.201418,34.854520,218.4,...,0.0,51,0.4,5.4,40,1023,13.2,20.1,35.0665,129.131
4,5,1,440402020,0.0,0.0,0.0,1.0,129.053973,35.124077,0.0,...,0.0,51,0.4,5.4,40,1023,13.2,20.1,35.0665,129.131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151537,151538,1,440113700,8.0,-128.0,0.0,1.0,129.001000,35.050883,322.0,...,0.0,52,0.8,5.0,39,1022,12.6,20.1,35.0665,129.131
151538,151539,1,442667809,15.0,-128.0,102.3,0.0,181.000000,91.000000,360.0,...,0.0,52,0.8,5.0,39,1022,12.6,20.1,35.0665,129.131
151539,151540,1,440191790,8.0,-128.0,0.0,1.0,129.048968,35.121152,284.9,...,0.0,52,0.8,5.0,39,1022,12.6,20.1,35.0665,129.131
151540,151541,1,440600017,15.0,0.0,0.0,0.0,129.051042,35.099668,195.7,...,0.0,52,0.8,5.0,39,1022,12.6,20.1,35.0665,129.131
151541,151542,1,273313640,0.0,0.0,102.3,0.0,181.000000,91.000000,360.0,...,0.0,52,0.8,5.0,39,1022,12.6,20.1,35.0665,129.131

In [5]:
print(df.isna().sum())

id                       0
msg_type                 0
mmsi                     0
status                6869
turn                  6872
speed                 5571
accuracy              2654
lon                   2654
lat                   2654
course                5571
heading               5574
timestamp                0
datetime                 0
mmaf_code                0
mmaf_name                0
mmsi_code                0
mmsi_name                0
wind_direct              0
wind_speed               0
surface_curr_drc         0
surface_curr_speed       0
air_temperature          0
humidity                 0
air_pressure             0
water_temperature        0
salinity                 0
latitude                 0
longitude                0
dtype: int64

In [ ]:
import pandas as pd

# 원본 데이터 로드
file_path = '../document/data_after_dropping.csv'
data = pd.read_csv(file_path)

# 시간 데이터 변환
data['timestamp'] = pd.to_datetime(data['timestamp'])

# 시간 순 정렬
data = data.sort_values(['mmsi', 'timestamp'])

# MMSI별 결측치와 이전/이후 값 확인
result = []

for mmsi, group in data.groupby('mmsi'):
    group = group.reset_index(drop=True)
    for i, row in group.iterrows():
        if pd.isna(row['lat']) or pd.isna(row['lon']):  # 위도 또는 경도가 NaN인 경우
            # 이전 값 확인
            has_previous_lat = False
            has_previous_lon = False

            if i > 0:
                has_previous_lat = not pd.isna(group.loc[:i - 1, 'lat']).all()
                has_previous_lon = not pd.isna(group.loc[:i - 1, 'lon']).all()

            # 이후 값 확인
            has_next_lat = not pd.isna(group.loc[i + 1:, 'lat']).all()
            has_next_lon = not pd.isna(group.loc[i + 1:, 'lon']).all()

            # 결과 저장
            result.append({
                'mmsi': mmsi,
                'timestamp': row['timestamp'],
                'lat_is_nan': pd.isna(row['lat']),
                'lon_is_nan': pd.isna(row['lon']),
                'has_previous_lat': has_previous_lat,
                'has_previous_lon': has_previous_lon,
                'has_next_lat': has_next_lat,
                'has_next_lon': has_next_lon
            })

# 결과 데이터프레임 생성
result_df = pd.DataFrame(result)

# 총 lat과 lon이 결측치인 데이터
total_nan = result_df[(result_df['lat_is_nan'] & result_df['lon_is_nan'])]

# 결측치 조건: 앞뒤 모두 없을 때 제거
all_nan = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (~result_df['has_previous_lat'] & ~result_df['has_previous_lon']) &
    (~result_df['has_next_lat'] & ~result_df['has_next_lon'])
]

# 결측치 조건: 앞이 없고, 뒤만 있을 때 제거
only_next_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (~result_df['has_previous_lat'] & ~result_df['has_previous_lon']) &
    (result_df['has_next_lat'] & result_df['has_next_lon'])
]

# 최종적으로 제거할 데이터 합치기
to_remove = pd.concat([all_nan, only_next_data])

# 제거할 데이터 확인
print(f"제거할 데이터 행 수: {len(to_remove)}")

# 원본 데이터에서 제거할 데이터 제외
cleaned_data = data[~data.set_index(['mmsi', 'timestamp']).index.isin(to_remove.set_index(['mmsi', 'timestamp']).index)]

# 최종 데이터 저장
cleaned_data.to_csv('../document/final_cleaned_data.csv', index=False, encoding='utf-8-sig')

print(f"최종 데이터가 저장되었습니다. 최종 데이터 행 수: {len(cleaned_data)}")

제거할 데이터 행 수: 48
최종 데이터가 저장되었습니다. 최종 데이터 행 수: 151484

In [7]:
import pandas as pd

# 경로 설정 (원본 데이터와 최종 데이터)
original_file_path = '../document/data_after_dropping.csv'
final_cleaned_file_path = '../document//final_cleaned_data.csv'

# 데이터 로드
original_data = pd.read_csv(original_file_path)
final_cleaned_data = pd.read_csv(final_cleaned_file_path)

# 데이터 크기 비교
original_count = len(original_data)
final_cleaned_count = len(final_cleaned_data)

# 열 이름 비교
original_columns = original_data.columns.tolist()
final_cleaned_columns = final_cleaned_data.columns.tolist()

# 결과 출력
print(f"원본 데이터 행 수: {original_count}")
print(f"최종 클린 데이터 행 수: {final_cleaned_count}")
print(f"원본 데이터 열 이름: {original_columns}")
print(f"최종 클린 데이터 열 이름: {final_cleaned_columns}")

# 최종 클린 데이터에 없는 행 확인
removed_rows = original_data[~original_data.set_index(['mmsi', 'timestamp']).index.isin(final_cleaned_data.set_index(['mmsi', 'timestamp']).index)]
print(f"제거된 데이터 행 수: {len(removed_rows)}")

# 제거된 데이터 확인
print("제거된 데이터 예시:")
print(removed_rows
      )

원본 데이터 행 수: 151542
최종 클린 데이터 행 수: 151484
원본 데이터 열 이름: ['id', 'msg_type', 'mmsi', 'status', 'turn', 'speed', 'accuracy', 'lon', 'lat', 'course', 'heading', 'timestamp', 'datetime', 'mmaf_code', 'mmaf_name', 'mmsi_code', 'mmsi_name', 'wind_direct', 'wind_speed', 'surface_curr_drc', 'surface_curr_speed', 'air_temperature', 'humidity', 'air_pressure', 'water_temperature', 'salinity', 'latitude', 'longitude']
최종 클린 데이터 열 이름: ['id', 'msg_type', 'mmsi', 'status', 'turn', 'speed', 'accuracy', 'lon', 'lat', 'course', 'heading', 'timestamp', 'datetime', 'mmaf_code', 'mmaf_name', 'mmsi_code', 'mmsi_name', 'wind_direct', 'wind_speed', 'surface_curr_drc', 'surface_curr_speed', 'air_temperature', 'humidity', 'air_pressure', 'water_temperature', 'salinity', 'latitude', 'longitude']
제거된 데이터 행 수: 151542
제거된 데이터 예시:
            id  msg_type       mmsi  status   turn  speed  accuracy  \
0            1         1  440100886    15.0 -128.0    0.0       1.0
1            2         1  440010110     0.0    0.0    0.1       0.0
2            3         1  440028280     0.0 -128.0    7.5       1.0
3            4         1  440101850    15.0 -128.0    0.1       1.0
4            5         1  440402020     0.0    0.0    0.0       1.0
...        ...       ...        ...     ...    ...    ...       ...
151537  151538         1  440113700     8.0 -128.0    0.0       1.0
151538  151539         1  442667809    15.0 -128.0  102.3       0.0
151539  151540         1  440191790     8.0 -128.0    0.0       1.0
151540  151541         1  440600017    15.0    0.0    0.0       0.0
151541  151542         1  273313640     0.0    0.0  102.3       0.0

               lon        lat  course  ...  wind_speed surface_curr_drc  \
0       129.078832  35.083187   237.5  ...         0.0               51
1       129.050312  35.119905    80.2  ...         0.0               51
2       129.125935  34.985023   185.2  ...         0.0               51
3       129.201418  34.854520   218.4  ...         0.0               51
4       129.053973  35.124077     0.0  ...         0.0               51
...            ...        ...     ...  ...         ...              ...
151537  129.001000  35.050883   322.0  ...         0.0               52
151538  181.000000  91.000000   360.0  ...         0.0               52
151539  129.048968  35.121152   284.9  ...         0.0               52
151540  129.051042  35.099668   195.7  ...         0.0               52
151541  181.000000  91.000000   360.0  ...         0.0               52

       surface_curr_speed  air_temperature humidity  air_pressure  \
0                     0.4              5.4       40          1023
1                     0.4              5.4       40          1023
2                     0.4              5.4       40          1023
3                     0.4              5.4       40          1023
4                     0.4              5.4       40          1023
...                   ...              ...      ...           ...
151537                0.8              5.0       39          1022
151538                0.8              5.0       39          1022
151539                0.8              5.0       39          1022
151540                0.8              5.0       39          1022
151541                0.8              5.0       39          1022

       water_temperature  salinity  latitude  longitude
0                   13.2      20.1   35.0665    129.131
1                   13.2      20.1   35.0665    129.131
2                   13.2      20.1   35.0665    129.131
3                   13.2      20.1   35.0665    129.131
4                   13.2      20.1   35.0665    129.131
...                  ...       ...       ...        ...
151537              12.6      20.1   35.0665    129.131
151538              12.6      20.1   35.0665    129.131
151539              12.6      20.1   35.0665    129.131
151540              12.6      20.1   35.0665    129.131
151541              12.6      20.1   35.0665    129.131

[151542 rows x 28 columns]

In [8]:
# 총 lat과 lon이 결측치인 행의 갯수
total_nan = result_df[(result_df['lat_is_nan'] & result_df['lon_is_nan'])]

# 지금, 앞뒤로 다 없는 행의 갯수
all_nan = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (~result_df['has_previous_lat'] & ~result_df['has_previous_lon']) &
    (~result_df['has_next_lat'] & ~result_df['has_next_lon'])
]

# 지금은 없지만 앞뒤로는 다 있는 행의 갯수
surrounded_by_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (result_df['has_previous_lat'] & result_df['has_previous_lon']) &
    (result_df['has_next_lat'] & result_df['has_next_lon'])
]

# 앞이 없고 뒤만 데이터가 있는 경우
only_next_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (~result_df['has_previous_lat'] & ~result_df['has_previous_lon']) &
    (result_df['has_next_lat'] & result_df['has_next_lon'])
]

# 앞은 있고 뒤는 없는 경우
only_previous_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    (result_df['has_previous_lat'] & result_df['has_previous_lon']) &
    (~result_df['has_next_lat'] & ~result_df['has_next_lon'])
]

# 지금은 없지만 앞 혹은 뒤에 데이터가 있는 갯수
has_either_data = result_df[
    (result_df['lat_is_nan'] & result_df['lon_is_nan']) &
    ((result_df['has_previous_lat'] & result_df['has_previous_lon']) |
     (result_df['has_next_lat'] & result_df['has_next_lon']))
]

# 결과 출력
print(f"총 lat과 lon이 결측치인 행의 갯수: {len(total_nan)}")
print(f"지금, 앞뒤로 다 없는 행의 갯수: {len(all_nan)}")
print(f"지금은 없지만 앞뒤로는 다 있는 행의 갯수: {len(surrounded_by_data)}")
print(f"앞이 없고 뒤만 데이터가 있는 행의 갯수: {len(only_next_data)}")
print(f"앞은 있고 뒤는 없는 행의 갯수: {len(only_previous_data)}")
print(f"지금 없지만 앞 혹은 뒤에 데이터가 있는 갯수: {len(has_either_data)}")

총 lat과 lon이 결측치인 행의 갯수: 2654
지금, 앞뒤로 다 없는 행의 갯수: 5
지금은 없지만 앞뒤로는 다 있는 행의 갯수: 2570
앞이 없고 뒤만 데이터가 있는 행의 갯수: 43
앞은 있고 뒤는 없는 행의 갯수: 36
지금 없지만 앞 혹은 뒤에 데이터가 있는 갯수: 2649